.todayCases {
  font-size: 0.7rem;
  color: #007bff;
}

.todayDeaths {
  font-size: 0.7rem;
  color: #ff073a;
}

tbody > tr > th {
  font-weight: bold !important;
}

thead > tr > th {
  background: #f6f6f7;
  font-weight: bold !important;
  position: sticky;
  top: 5px;
}

thead > tr > th:hover {
  background: rgba(108, 117, 125, 0.12549);
}

table {
  border-collapse: separate !important;
  border-spacing: 3px 4px !important;
}
