.container {
  margin: 30px 0;
  width: 80%;
}

.datehead {
  background-color: white;
  border: 0 solid lightgray;
  padding: 2px 12px 2px 12px;
  color: black;
  display: block;
  border-radius: 15px;
  font-size: 15px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.card {
  margin: 1% 1% !important;
}
.cardGrid {
  margin: 0 !important;
  padding-top: 15px;
}
.cases {
  background-color: #06f5f5 !important;
}

.recovered {
  background-color: #75ff1f !important;
}

.deaths {
  background-color: #80808036 !important;
}
