.container {
  margin: 30px 0;
  width: 80%;
}

.datehead {
  background-color: rgb(253, 253, 253);
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: #6c757d;
  display: block;
  border-radius: 15px;
  font-size: 15px;
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.1);
}

.card {
  margin: 1% 1% !important;
  border-radius: 11px !important;
  box-shadow: 15px 15px 60px rgba(55, 84, 128, 0.1),
    -20px -20px 60px rgba(255, 255, 255, 0.7),
    2px 2px 34px rgb(255, 255, 255, 0.5) !important;
  background-color: rgb(252, 252, 252) !important;
}
.cardGrid {
  margin: 0 !important;
  padding-top: 25px;
}

.cardContent {
  padding: 16px !important;
}

.cardBottomText {
  margin-top: 10px !important;
  font-size: 13px !important;
}
