.App {
  text-align: center;
}

header {
  text-align: left;
  padding-left: 20px;
  background-color: white !important;
  color: #636262 !important;
}
header svg {
  vertical-align: bottom;
}

.badge {
  margin-bottom: 3px;
}

.badge .MuiBadge-badge {
  height: 17px !important;
  padding: 0px 8px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: whitesmoke;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #058aca;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome-text {
  color: whitesmoke;
}
