.App {
  text-align: center;
}

header {
  text-align: left;
  padding-left: 20px;
  background-color: rgb(249, 249, 249) !important;
  color: #636262 !important;
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.3) !important;
}

.brand-logo > img {
  width: 30px;
  vertical-align: bottom;
  padding: 5px;
}
.brand-logo > span {
  color: #28a745;
}

header svg {
  vertical-align: bottom;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(247, 247, 247);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #058aca;
  font-family: "ABeeZee", sans-serif;
}

.App-link {
  color: #61dafb;
}

.badge {
  margin-bottom: 3px;
}

.badge .MuiBadge-badge {
  height: 17px !important;
  padding: 0px 8px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiTypography-root {
  font-family: "ABeeZee", sans-serif !important;
}
